<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png"  href="images/icons/favicon.png">
        <link rel="stylesheet" href="css/style.css" />
        <title>Uw Westvloamse datingsite</title>
    </head>

    <body>
          <header class="headerImage">
      <div class="login clearFix">
        {% if login == false %}
          <form action="loginControl.php" method="post" class="login" id="registreer" name="registreer">                                              
            <div class="login clearFix"><input type="submit" value="registreer" name="registreer"/></div>
          </form>
          <form action="loginControl.php" method="post" class="login" id="login" name="login">
            <label for="username">gebruikersnaam :<input type="text" id="username" name="username"></label>
            <label for="password">wachtwoord :<input type="password" id="password" name="password"></label>                               
            <input type="submit" value="login" name="login" />
          </form>

        {% else %}
          <p>Gebruiker: <a href="loginControl.php?profile={{login.userID}}" alt="Mijn profiel pagine">{{login.username}}</a></p>
          {% endif %}              
      </div>
