<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png"  href="images/icons/favicon.png">
    <link rel="stylesheet" href="css/style.css" />
    <title>Uw Westvloamse datingsite</title>
  </head>

  <body>
    <header class="headerImage">
      <div class="login clearFix">
                <form action="loginControl.php" method="post" class="login" id="registreer" name="registreer">
                    <div class="login clearFix">
                        <input type="submit" value="registreer" name='registreer' />
                    </div>
                </form>
                <form action="loginControl.php" method="post" class="login" id="login" name="login">
                    <label for="username">gebruikersnaam :<input type="text" id="username" name="username"></label>
                    <label for="password">wachtwoord :<input type="password" id="password" name="password"></label>                               
                    <input type="submit" value="login" name="login" />
                </form>            
      </div>

      <h1><span>Losse Flodders</span></h1>
      <p>Westvlaamse datingsite</p>

      <nav class="hoofdmenu clearFix">
        <ul>
          <li><a href="showIndex.php" id="a"><p>Menu</p></a></li>
          <li><a href="profielaanmaak.twig" id="b" alt="profiel" title="profiel"><p>Profiel</p></a></li>
          <li><a href="#" id="c"><p>Matchen</p></a></li>
          <li><a href="#" id="d"><p>Instellingen</p></a></li>
        </ul>
      </nav>

    </header>



    <div class="inhoud clearFix">

      <section class="balkLinks">
        <h1>balk links</h1>
      </section>

      <div class="container">
        <div class="welkom">
          {% if user == 'Guest' %}
            <h2>Welkom, gast!</h2>            
          {% else %}
            <h2>Welkom terug {{user.username}}!</h2>
          {% endif %}  
        </div>
      </div>

      <section class="balkRechts">
        <h1>BALK RECHTS</h1>
      </section>


    </div>

    <footer class="hoofdFooter">
      <p><span>This project was built by Jordy, Wouter, Gregory and Micha &COPY; 2016</span></p>
    </footer>
  </body>
</html>
