@charset "UTF-8";
/* CSS Document */

/******OUTLINE******
body, header, section, article, div, img, nav, ul, li{
        outline: red dotted 1px;
        margin: 0;
        padding: 0;
}
*/

/*****NORMALISATION******/
body, header, section, article, div, img, nav, ul, li, h1, h2, h3, h4,h5, p{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/******TYPOGRAFIE*************************************************************************/
body{
    font-family: arial, sans-serif;
}

.login{
    font-size: 0.9em;
    display: none;
}

form{

}

header h1{
    font-size: 2.5em;
    text-align: center;
}

header p{
    text-align: center;
}



legend{
    font-size: 1.2em;
}

select{
    font-size: 1.3em;
}

input[type=date], input[type=number] {
    font-size: 1.5em;
}

input[type=checkbox], input[type=radio] {
    font-size: 5em;
}

.hoofdFooter p{
    text-align: center;
    font-weight: bold;
    font-size: 0.55em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.itemDisplay{
font-size: 0.8em;
    
}

/****************************************************************************************/



/******KLEUREN****************************************************************************/
/*backgrounfgrey: #333333;
*/

body{

}

.login form{
    background-color: rgba(234,221,208,0.6);
}
.login input[type=text] input[type=password]{
    background: white;
}

.inhoud{
    background: rgba(192,192,192,0.6);
}
.midden{
    background: rgba(224,224,224,0.5);
}

.balkLinks{
    
    box-sizing: border-box;
  
}

.balkRechts{
    box-sizing: border-box;
   
}

header, h1 p{
    color: beige;
}

header .headerImage{
    background:  black;
}


.hoofdmenu ul li {
    background: rgba(255,255,255,0.8);
}

legend{

    background: rgba(255,255,255,0.6);;
}


form{
    color: #4C4C4C;
}

input {
    color: #4C4C4C;
}

.hoofdFooter{
    background-color: rgba(234,221,208,0.6);
    color: gray;
}

/****************************************************************************************/


/******STRUCTUUR******/
body{
    background:url(../images/background/skulls.png);	
}


.login{
    padding: 0.3em;

}
.login form{
    border-radius: 4px;  
}

.login label{
    display: block;
    width: 100%;
}
.login input[type=text] input[type=password]{
    
    width: auto;
}

.inhoud{
    position: relative;
    height: auto;
    
}
.balkLinks{
    box-sizing: border-box;
    width: 100%;
    float: none;
  
  height: inherit;


}

.balkRechts{
   margin: auto;
    box-sizing: border-box;
    width:100%;
    float: left;
    height: inherit;
}


.midden{
    float: left;
    box-sizing: border-box;
    padding: 2%;
    width: 100%;
    margin: 0 auto 0 auto;

}



header .hoofdmenu p{
    padding-top: 1em;
    text-shadow: 1px 1px 1px black;
}

.headerImage h1,.headerImage p {
    text-shadow: 1px 1px 1px black;
}


.headerImage{
    background:rgba(0,0,0,0.8);
    width: 100%;
    background-size: 150%;
    background-repeat: no-repeat;

}

.hoofdmenu{
    padding-bottom: 1%;
}

.hoofdmenu ul {
    list-style:none;
    border-radius: 4px;
    padding: 1%;
    min-width: 595px;
}

.hoofdmenu li {
    box-sizing: border-box;
    padding:0.5em ;
    float:left;
    margin: 0 1% 0 0;
    border-radius: 4px;
    border: 1px solid white;
    box-shadow: 3px 3px 5px #808080;
}

.hoofdmenu li:last-of-type {
    margin: 0 0 0 0;
}

.hoofdmenu a {  
    display: block;
    text-decoration: none;
    width:3.2em;
    height:3em;
    background: url(../images/icons/icons.png)
}

.hoofdmenu p {  
    display: none;
    padding:25%;
    margin-left: 3em;
}




.hoofdmenu #a {background-position: -90px -85px;} 
.hoofdmenu #b {background-position: -275px -85px;} 
.hoofdmenu #c {background-position: -370px -85px;} 
.hoofdmenu #d {background-position: -90px -180px;} 


.labellook{
    display: block;
}



legend{
    padding: 0.3em 0.8em 0.1em;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #808080;
}

fieldset{	
    padding: 0.8em 2%;
    border: 1px solid white;
    border-radius: 3px;
}

.profielitem{
    margin-bottom: 0.7em;
}

.vast{
    top:100px;
    left:150px;
}

.profielForm input[type=date], input[type=number] {
    width: 94%;
    height: 3em;
    box-shadow: 3px 3px 3px darkgrey inset;
}

.profielForm div{
    margin-bottom: 2em;
    
}
.profielForm input[type=checkbox], input[type=radio] {
}

.profielForm input[type=text] {
    padding: 1em;
    border-radius: 4px;
    border: 1px solid white;
    float: right;
    width: 70%;
}
.profielForm input[type=submit] {
padding: 1em;
    float: right;
    width: 30%;
}
select {
    width: 100%;
}
.profielForm{

}

.avatar{
    position: relative;
}

.userprofiel {
position: relative;
}
.userprofiel img{
    float: left;
    width: 30%;
}
.contact h5 {
    padding-top: 1.3em;
    
}
.contact img{
    float: left;
    width: 3em;
}
.gegevens{

}
.wijzigLinks{
margin-top: 0em;
   
}
.wijzigLinks a{ 
    display: block;
}
.blok{
    box-sizing: border-box;
    background-color: rgba(64,64,64,0.3);
    padding: 0.3em;
    border-radius: 3px;
    border: 1px solid black;
    height: inherit;
}

.itemDisplay{
    list-style-type:  none;
    background: white;
    padding: 0.3em;
    border: 1px solid  #808080;
    box-shadow: 2px 2px 2px gray inset;
    border-radius: 3px;
    margin: 0.5em 0;
    
}
.hoofdFooter{
    padding: 0.5em;
}




/****************************************************************************************/






/********CLEARFIX*************************************************************************/
/*clear*/
.cf{clear: both;}
/*
clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.clearFix:before, .clearFix:after{
    content:" ";
    display:table;
}
.clearFix:after{
    clear:both;
}

/*enkel voor IE6/7 */
.clearFix{
    *zoom:1;
}
/****************************************************************************************/






/********MEDIA QUERIES*******************************************************************/
@media screen and (max-width: 40.5em) {
    .product-img {
        width: 50%;
        float: left;
    }
    .hoofdmenu ul li a  {
    }

}
@media only screen and (min-width: 768px)  {
    .balkLinks{
        display:  block;
        width: 30%;
       
        float: right;
    }

    .balkRechts{
float: right;
    }

    .midden{
      
        padding: 2%;
        width: 70%;
        margin: 0 auto 0 auto;	
    }
}
@media only screen and (min-width: 1000px) {
    .login form{
        float: right;
    }
    .login label{
        display: inline;
    }

    .balkLinks{
        display:  block;
        width: 20%;   
        float: left;
    }

    .balkRechts{
        width:20%;
        float: right;
    }

    .midden{
        padding: 2%;
        width: 60%;
        margin: 0 auto 0 auto;	
    }

    .hoofdmenu li {	
        width:24.25%;
    }

    .hoofdmenu p {
        display: block;
        padding-left: 0.5em;

        color: white;
    }

    .headerImage{
        background-size: 100%;
    }
    
    .wijzigLinks{
    position: absolute;
    right: 0;
    bottom: 0.5em; 
}
}